/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.image-container {
  position: relative;
  width: 300px; /* можно настроить по вашему усмотрению */
  height: 300px; /* можно настроить по вашему усмотрению */
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: swirl-in 1s ease-in-out forwards;
}

@keyframes swirl-in {
  0% {
      clip-path: circle(0% at 50% 50%);
      transform: rotate(0deg);
  }

  100% {
      clip-path: circle(100% at 50% 50%);
      transform: rotate(360deg);
  }
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  animation: text-grow 1s ease-in-out forwards;
}

@keyframes text-grow {
  0% {
      transform: translate(-50%, -50%) scale(0);
  }
  100% {
      transform: translate(-50%, -50%) scale(1);
  }
}